.inputTable {
  border: 1px solid #bbbbbb;
  margin: 2rem 0;
}

.inputTable tr,
.inputTable td {
  border: 1px solid #bbbbbb;
  margin: 0;
  padding: 0 !important;
}

.inputTable input {
  display: block;
  margin: 0 !important;
  border: 0;
  width: 100%;
  border-radius: 0;
}

.outputTable {
  display: block;
  white-space: pre-wrap;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.nav-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}
