$border-color: rgb(187, 187, 187);

.inputTable {
    border: 1px solid $border-color;
    margin: 2rem 0;
    tr,
    td {
        border: 1px solid $border-color;
        margin: 0;
        padding: 0 !important;
        // background-color: green;
    }
    input {
        display: block;
        // padding: 0.3rem !important;
        margin: 0 !important;
        border: 0;
        width: 100%;
        // height: 100% !important;
        // background-color: blue !important;
        border-radius: 0;
        // line-height: 1.5 !important;
    }
}

.outputTable {
    display: block;
    white-space: pre-wrap;
}
