@import "./index";
@import "./layout";
@import "./nav";
@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");
body {
    font-size: 1.3rem;
    font-family: "Muli", sans-serif;
}

.amber {
    background-color: orange;
}

.blue {
    background-color: rgb(66, 124, 218);
}

.gray {
    background-color: gray;
}

.margin-small {
    margin: 0.2rem;
}

button {
    border-width: 0;
    color: white;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.4rem;
    font-size: 1rem;
    // font-weight: bold;
}
