  <nav>
    <div class="nav-wrapper">
        <div>
          <a href="#" class="logo">Markdown Table Generator</a>
        </div>
          <a href="https://github.com/imjamesku/markdown-table-generator" target="_blank" rel="noopener noreferrer">github</a>
    </div>
  </nav>



@code {
}
