<nav class="blue">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Markdown Table Generator</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li>
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
      </ul>
    </div>
</nav>



@code {
}
